#main {
    background-color: #474e5d;
    height: 400px;
    padding: 30px;
    text-align: center;
}
#Btn {
    border: 2px solid rgb(104, 121, 105);
    background-color: rgb(89, 97, 90);
    border-radius: 20px;
    color: white;
    padding: 15px;
    cursor: pointer;
    width: 500px;
    font-size: 20px;
}
